!!!
html(ng-app="")
    head
        //- Tech Meta
        base(href='/')
        meta( charset="utf-8" )
        meta( http-equiv="X-UA-Compatible", content="IE=edge,chrome=1" )
        meta( name="viewport", content="width=device-width" )

        //- Basic Meta
        title Project Name
        meta( name="description", content="Description here" )
        meta( name="keywords", content="Keyword1, keyword 2" )

        //- Facebook Meta
        meta( property="og:title",      content="Project Name" )
        meta( property="og:site_name",  content="Project Name" )
        meta( property="og:description", content="Project Name Description here" )
        meta( property="og:image", content="http://websiteAppURL.com/fb-img.jpg" )
        meta( property="og:url", content="http://websiteAppURL.com" )
        meta( property="og:type", content="website" )

        //- Favicon
        link( rel="shortcut icon", href="images/icons/favicon.ico")
        link( rel="apple-touch-icon", href="images/icons/apple-touch-icon.png")

        //- CSS
        link( rel="stylesheet", href="styles/app.css" )

    body
        block body
