---
layout: default
---

header
    //- h1(class="logo")
    //-     a(href="/")
    //-         img(src="images/logo.png")

    div(class="right")
        !=partial('nav.html.jade')

section(class="content")

