//
// Global Utility Classes
// --------------------------------------------------

if $use-global

    .hide-text
        hide-text
    .is-fixed
        position: fixed
    .is-hide
        display: none
    .is-visible
        display: block
    .is-hidden
        visibility: hidden
    .is-centered
        center-block

    .has-clear
        clear: both
    .clearfix
        clearfix

    .pull-left
        float(left)
    .pull-right
        float(right)
    .reset-float
        reset-float

    .has-radius
        border-radius($base-border-radius)
    .has-radius-large
        border-radius($border-radius-large)
    .has-radius-small
        border-radius($border-radius-small)
    .is-rounded
        border-radius(50%)
