//
// Images Utility Classes
// --------------------------------------------------

if $use-images

    .img-left
        img("left")
    .img-right
        img("right")
    .img-circle
        img("circle")
    .img-rounded
        img("rounded")
    .img-polaroid
        img("polaroid")
