//
// Animations
// --------------------------------------------------

keyframes($name)
  @-webkit-keyframes $name
    0%
      top: 10px
    50%
      top: 0px
    100%
      top: 10px

  @-moz-keyframes $name
    0%
      top: 10px
    50%
      top: 0px
    100%
      top: 10px

  @-o-keyframes $name
    0%
      top: 10px
    50%
      top: 0px
    100%
      top: 10px

  @keyframes $name
    0%
      top: 10px
    50%
      top: 0px
    100%
      top: 10px

animation($name, $duration)
  -webkit-animation: $name $duration infinite       /* Safari 4+ */
  -moz-animation: $name $duration infinite          /* Fx 5+ */
  -o-animation: $name $duration infinite            /* Opera 12+ */
  animation: $name $duration infinite               /* IE 10+ */

if $use-animations == true

  // YOUR CSS GOES HERE
  // @include keyframes(bounce);

