// Devices/Breakpoints
phone          = "only screen and (max-width: 380px)"
tablet         = "only screen and (min-width: 381px) and (max-width: 800px)"
small-desktop  = "only screen and (max-width: 801px)"
retina         = "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)"