doctype html
html
    head
        meta(charset='utf-8')
        title=title
        meta(name="description", content=description)
        meta(name="author", content=author)
        meta(name="viewport", content='width=device-width')
        link(rel='stylesheet', href='/css/app.css')
    body

        block content

        footer
            //- script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
            //- script
              window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\\/script>')
            script(defer, src='/js/app.js')
