
// General
*
    box-sizing: border-box

body
    font-size: 62.5%
    font-family: font-default
    height: 100%

// Text
h1, h2, h3, h4, h5, h6
    color: color-title
    font-family: font-default
    font-weight: normal
    line-height: base-line-height
    text-transform: uppercase

h1
    font-size: 3.4em

h2
    font-size: 2.6em

h3
    font-size: 2.1em

h4
    font-size: 1.4em

h1
    margin: 0

p
    font-family: font-default
    font-size: base-font-size
    font-weight: 300
    line-height: base-line-height
    color: color-text

a
    color: color-link
    transition()
    text-decoration: none
    font-size: base-font-size

ul
    unstyled()

img
    max-width: 100%

hr
    margin: base-line-height 0;
    border: 0;
    border-bottom: 1px dotted white;
    clear: both;
