//
// Forms Utility Classes
// --------------------------------------------------

if $use-forms == true

  // Forms Actions
  // -------------------------------
  .form-actions
    padding: $base-line-height - 1 20px $base-line-height
    margin-top: $base-line-height
    margin-bottom: $base-line-height
    background-color: $form-actions-background
    border-top: 1px solid #e5e5e5
    clearfix() // Adding clearfix to allow for .pull-right button containers

  // Horizontal & Vertical Forms
  // -------------------------------

  // Common properties
  .form-inline,
    input,
      display: inline-block
      if $legacy-support == true
        legacy-inline-block()
      margin-bottom: 0
      vertical-align: middle

    // Re-hide hidden elements due to specifity
    .hide
      display: none

  .form-inline label
    display: inline-block // Inline checkbox/radio labels (remove padding on left)

  .form-inline .radio,
    padding-left: 0
    margin-bottom: 0
    vertical-align: middle

  // Remove float and margin, set to inline-block
  .form-inline .radio input[type="radio"],
    float: left
    margin-right: 3px
    margin-left: 0

  // Margin to space out fieldsets
  .control-group
    margin-bottom: ($base-line-height / 2)

  // Legend collapses margin, so next element is responsible for spacing
  legend + .control-group
    margin-top: $base-line-height
    -webkit-margin-top-collapse: separate

  // Horizontal-specific styles
  .form-horizontal

    // Increase spacing between groups
    .control-group
      margin-bottom: $base-line-height
      clearfix()

    // Float the labels left
    .control-label
      float: left
      width: ($horizontal-component-offset - 20)
      padding-top: 5px
      text-align: right

    // Move over all input controls and content
    .controls
      margin-left: $horizontal-component-offset

      if $legacy-support == true
        // Super jank IE7 fix to ensure the inputs in .input-append and input-prepend
        // don't inherit the margin of the parent, in this case .controls
        *display: inline-block
        *padding-left: 20px
        *margin-left: 0
        &:first-child
          *padding-left: $horizontal-component-offset

    // Remove bottom margin on block level help text since that's accounted for on .control-group
    .help-block
      margin-bottom: 0

    // And apply it only to .help-block instances that follow a form control
    input,
      + .help-block
        margin-top: ($base-line-height / 2)

    // Move over buttons in .form-actions to align with .controls
    .form-actions
      padding-left: $horizontal-component-offset
