<!DOCTYPE html>
<html lang="pt-BR" ng-app="myApp">

    <head>

        <meta charset="UTF-8">
        <title>{{ title }}</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/styles/app.min.css">

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js"></script>
        <script src="assets/scripts/app.min.js"></script>

    </head>

    <body ng-controller="myAppCtrl">

        <header class="row">
            <h1 class="text-center">{{ title }}</h1>
        </header>

        <main class="container">
            <!-- content goes here -->
        </main>

        <footer class="row" ng-include="'view/footer.html'"></footer>

    </body>
</html>
