//
// Table Utility Classes
// --------------------------------------------------

if $use-tables == true

  // Condensed
  .table-condensed
    th,
      padding: 4px 5px

  // Bordered
  .table-bordered
    border: 1px solid $table-border
    border-collapse: separate
    // Done so we can round those corners!
    if $legacy-support == true
      *border-collapse: collapse
      // IE7 can't round corners anyway
    border-left: 0
    border-radius($base-border-radius)
    th,
      border-left: 1px solid $table-border
    // Prevent a double border
    caption + thead tr:first-child th,
      border-top: 0
    // For first th or td in the first row in the first thead or tbody
    thead:first-child tr:first-child > th:first-child,
      border-top-left-radius($base-border-radius)
    thead:first-child tr:first-child > th:last-child,
      border-top-right-radius($base-border-radius)
    // For first th or td in the last row in the last thead or tbody
    thead:last-child tr:last-child > th:first-child,
      border-bottom-left-radius($base-border-radius)
    thead:last-child tr:last-child > th:last-child,
      border-bottom-right-radius($base-border-radius)
    // Clear border-radius for first and last td in the last row in the last tbody for table with tfoot
    tfoot + tbody:last-child tr:last-child td:first-child
      border-bottom-left-radius(0)
    tfoot + tbody:last-child tr:last-child td:last-child
      border-bottom-right-radius(0)
    // Special fixes to round the left border on the first td/th
    caption + thead tr:first-child th:first-child,
      border-top-left-radius($base-border-radius)
    caption + thead tr:first-child th:last-child,
      border-top-right-radius($base-border-radius)

  // Striped
  .table-striped
    tbody
      > tr:nth-child(odd) > td,
        background-color: $table-background-accent
