<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <meta charset="utf-8">
    <meta name="robots" content="noindex,nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="{{ site.description }}" />

    <title>{{ page.title }}</title>

    <meta property="og:title" content="{{ page.title }}"/>
    <meta property="og:site_name" content="Blog - Vitor Britto"/>
    <meta property="og:url" content="{{ site.url }}{% if page.url != 'index.html' %}{{ page.url }}{% endif %}"/>
    <meta property="og:image" content="{{ site.baseurl }}assets/images/fb.jpg"/>
    <meta property="og:type" content="{% if page.layout == 'post' %}article{% else %}blog{% endif %}"/>
    <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}"/>

    <link rel="shortcut icon" href="{{ site.baseurl }}assets/images/favicon.png" type="image/x-icon">
    <link href="{{ site.rssfeed }}" rel="alternate" type="application/rss+xml">
    <link href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
    <link href="{{ site.baseurl }}assets/css/style.css" rel="stylesheet" id="theme-css"/>

    <script src="{{ site.baseurl }}assets/js/vendor/modernizr-2.6.2.min.js"></script>

</head>

<body>

    <div class="container">
