// Color
color-font       = #f3f3f3
color-link       = #f3f3f3
color-negative   = #000000
color-title      = #ffff00

// Tipography
font-title       = "Lato", sans-serif
font-default     = "Helvetica Neue", Helvetica, Arial, sans-serif
font-mono        = Monaco, Menlo, Consolas, Courier New, monospace
font-alt         = Georgia, "Times New Roman", Times, serif
base-line-height = 2.1em
base-font-size   = 1.5em

// Button
btn-color        = #000000

