{% include header.html %}


<!-- Switch Theme -->
<div class="wrapper-theme">
    <p>Tema:</p>
    <span class="btn-theme light" id="theme-light"></span>
    <span class="btn-theme dark" id="theme-dark"></span>
</div>

    <div class="row">

        <article id="article">

            <img src="{{ site.baseurl }}{{ page.cover }}">
            <h2>{{ page.title }}</h2>
            <span>Publicado em: {{ page.date | date:"%d/%m/%Y" }} | Por: {{ page.author }}</span>
            <div class="line"></div>

            <section class="post-entry">
                {{ content }}
            </section>

        </article>

        <section id="author">
            <div class="span3">
                <img src="{{ site.baseurl }}{{ page.avatar }}" class="thumb">
            </div>
            <div class="span9">
                <section class="details">
                    <h3>{{ page.author }}</h3>
                    <p> {{ page.bio }}</p>
                </section>
            </div>
        </section>

        <div class="line"></div>

        {% include disqus.html %}

    </div>

{% include footer.html %}