////////////////////////////////////////////////////////////////////
//
// GLOBAL HELPERS
//
////////////////////////////////////////////////////////////////////

.is-hidden  { display: none; }
.is-visible { display: block; }

.invisible { opacity: 0; }
.no-scroll { overflow: hidden; }

.active { background: $brand-danger; }
.active-link { color: $brand-danger !important; }

.no-shadow { box-shadow: none !important; }
.no-border { border: none !important; }

.centerer { @include centerer(); }
.centered {
  display: block; 
  margin: auto; 
  width: 100%; 
  text-align: center; 
  vertical-align: middle; 
}

.not-clickable {
  pointer-events: none;
  cursor: default;
  color: rgba(0,0,0,.25);
}

// POSITIONS
// ============================

.no-padding { padding: 0 !important; }

.pad-top-xs { padding-top: 10px; }
.pad-top-sm { padding-top: 20px; }
.pad-top-md { padding-top: 35px; }
.pad-top-lg { padding-top: 60px; }

.pad-bottom-xs { padding-bottom: 10px; }
.pad-bottom-sm { padding-bottom: 20px; }
.pad-bottom-md { padding-bottom: 35px; }
.pad-bottom-lg { padding-bottom: 60px; }

.pad-right-xs { padding-right: 10px; }
.pad-right-sm { padding-right: 20px; }
.pad-right-md { padding-right: 35px; }
.pad-right-lg { padding-right: 60px; }

.pad-left-xs { padding-left: 10px; }
.pad-left-sm { padding-left: 20px; }
.pad-left-md { padding-left: 35px; }
.pad-left-lg { padding-left: 60px; }

.no-margin { margin: 0; }

.mg-bottom-xs { margin-bottom: 10px; }
.mg-bottom-sm { margin-bottom: 20px; }
.mg-bottom-md { margin-bottom: 35px; }

.mg-top-xs { margin-top: 10px; }
.mg-top-sm { margin-top: 20px; }
.mg-top-md { margin-top: 35px; }

.mg-right-xs { margin-right: 10px; }
.mg-right-sm { margin-right: 20px; }
.mg-right-md { margin-right: 35px; }
.mg-right-lg { margin-right: 60px; }

.mg-left-xs { margin-left: 10px; }
.mg-left-sm { margin-left: 20px; }
.mg-left-md { margin-left: 35px; }
.mg-left-lg { margin-left: 60px; }


// TYPES
// ============================

.text-sm { font-size: ($font-size-base - 2px); }
.text-lg { font-size: ($font-size-base * 1.5); }
.text-sans { font-family: $font-family-sans-serif !important; }
.text-serif { font-family: $font-family-serif !important; }
.text-alt { font-family: $font-family-alt !important; }


// STATES
// ============================

.bg-royal { background-color: $purple !important; }
.bg-warn { background-color: $yellow !important; }
.bg-info { background-color: $turquese !important; }
.bg-danger { background-color: $brand-danger !important; }
.bg-light { background-color: white !important; }
.bg-stable { background-color: $gray-lighter !important; }
.bg-dark { background-color: $gray !important; }

.fg-royal { color: darken($purple, 10%) !important; }
.fg-warn { color: darken($yellow, 10%) !important; }
.fg-info { color: darken($turquese, 10%) !important; }
.fg-danger { color: darken($brand-danger, 10%) !important; }
.fg-light { color: white !important; }
.fg-stable { color: $gray-lighter !important; }
.fg-dark { color: $gray !important; }
