footer
    .container
        p
            | Copyright © #{moment().format('YYYY')}
            | #{application}, all rights reserved.

    //- Javascript
    //- ! Place scripts in footer for faster page rendering !
    //- script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(src='/public/scripts/vendor/app.js')
