!!!5
html(lang="en")
  head
    title= title
    meta(charset='utf-8')
    link(type="text/css", rel="stylesheet", href="/css/main.css")
  body
    .wrapper
      .main
        != yield

    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js")
    script(src="/js/main.js")
