h1 #{ title }

p.lead.text-center Congratulations! Now, it&rsquo;s time to get started customizing this page

hr

.well
  
  p Start getting familiar with your app&rsquo;s file structure. How about updating your app&rsquo;s page title?
 
  ol
    li Open <code>/public/_data.json</code>
    li Change the app&rsquo;s title from <code>Harp&rsquo;s Starter App</code> to <code>Hello World</code>
    li Come back and refresh this page

hr

p.text-center: a.btn-large.btn.btn-warning(href="http://docs.harp.io") Learn more about Harp