//
// Table Utility Classes
// --------------------------------------------------

@if $use-tables == true and $use-helpers == false  {

    // Condensed
    .table-condensed {
        th,
        td {
            padding: 4px 5px;
        }
    }

    // Bordered
    .table-bordered {
        border: 1px solid $table-border;
        border-collapse: separate; // Done so we can round those corners!
        border-left: 0;
        @include border-radius($base-border-radius);

        th,
        td {
            border-left: 1px solid $table-border;
        }

        // Prevent a double border
        caption + thead tr:first-child th,
        caption + tbody tr:first-child th,
        caption + tbody tr:first-child td,
        colgroup + thead tr:first-child th,
        colgroup + tbody tr:first-child th,
        colgroup + tbody tr:first-child td,
        thead:first-child tr:first-child th,
        tbody:first-child tr:first-child th,
        tbody:first-child tr:first-child td {
            border-top: 0;
        }

        // For first th or td in the first row in the first thead or tbody
        thead:first-child tr:first-child > th:first-child,
        tbody:first-child tr:first-child > td:first-child {
            @include border-top-left-radius($base-border-radius);
        }
        thead:first-child tr:first-child > th:last-child,
        tbody:first-child tr:first-child > td:last-child {
            @include border-top-right-radius($base-border-radius);
        }

        // For first th or td in the last row in the last thead or tbody
        thead:last-child tr:last-child > th:first-child,
        tbody:last-child tr:last-child > td:first-child,
        tfoot:last-child tr:last-child > td:first-child {
            @include border-bottom-left-radius($base-border-radius);
        }
        thead:last-child tr:last-child > th:last-child,
        tbody:last-child tr:last-child > td:last-child,
        tfoot:last-child tr:last-child > td:last-child {
            @include border-bottom-right-radius($base-border-radius);
        }

        // Clear border-radius for first and last td in the last row in the last tbody for table with tfoot
        tfoot + tbody:last-child tr:last-child td:first-child {
            @include border-bottom-left-radius(0);
        }
        tfoot + tbody:last-child tr:last-child td:last-child {
            @include border-bottom-right-radius(0);
        }

        // Special fixes to round the left border on the first td/th
        caption + thead tr:first-child th:first-child,
        caption + tbody tr:first-child td:first-child,
        colgroup + thead tr:first-child th:first-child,
        colgroup + tbody tr:first-child td:first-child {
            @include border-top-left-radius($base-border-radius);
        }
        caption + thead tr:first-child th:last-child,
        caption + tbody tr:first-child td:last-child,
        colgroup + thead tr:first-child th:last-child,
        colgroup + tbody tr:first-child td:last-child {
            @include border-top-right-radius($base-border-radius);
        }
    }

    // Striped
    .table-striped {
        tbody {
            > tr:nth-child(odd) > td,
            > tr:nth-child(odd) > th {
                background-color: $table-background-accent;
            }
        }
    }

}
