//
// Buttons
// --------------------------------------------------

if $use-buttons == true
  // Button Structure
  .btn,
    button-structure(0, $base-font-size, 4px 12px)
    margin-bottom: 0
    line-height: $base-line-height
    text-align: center
    vertical-align: middle
    cursor: pointer
    if $legacy-support == true
      *border: 0
      &::-moz-focus-inner
        padding: 0
        border: 0
      *padding-top: 3px
      *padding-bottom: 3px
      legacy-inline-block()
      legacy-restore-left-whitespace()
      &.btn-extra,
        *padding-top: 7px
        *padding-bottom: 7px
      &.btn-small
        *padding-top: 3px
        *padding-bottom: 3px
      &.btn-mini
        *padding-top: 1px
        *padding-bottom: 1px
    // Hover/focus state
    &:hover,
      if $use-animations == true
        transition(all linear 0.2s)
      color: $white
    // Focus state for keyboard and accessibility
    &:focus
      tab-focus()
    // Active state
    &.active,
      outline: 0
      color: $white
    // Disabled state
    &.btn-disabled,
      cursor: default
      background: $blue-light !important
      opacity(0.65)
      &:hover, &:focus
        cursor: default
  // Button Sizes
  // --------------------------------------------------
  // Extra Large
  .btn-extra
    button-structure(0, $font-size-large * 2, 18px 26px)
  .btn-extra [class^="icon-"],
    margin-top: 11px
  // Large
  .btn-large
    button-structure(0, $font-size-large, 11px 19px)
  .btn-large [class^="icon-"],
    margin-top: 4px
  // Small
  .btn-small
    button-structure(0, $font-size-small, 2px 10px)
  .btn-small [class^="icon-"],
    margin-top: 0
  // Mini
  .btn-mini
    button-structure(0, $font-size-large, 0px 6px)
  .btn-mini [class^="icon-"],
    margin-top: -1px
  // Block button
  // -------------------------
  .btn-block
    display: block
    width: 100%
    padding-left: 0
    padding-right: 0
    box-sizing(border-box)
  // Vertically space out multiple block buttons
  .btn-block + .btn-block
    margin-top: 5px
  // Specificity overrides
  input[type="submit"],
    &.btn-block
      width: 100%
  // Button Styles
  .btn-inverse
    button-gradient($btn-type, $gray-dark)
  .btn-secondary
    button-gradient($btn-type, darken($gray-light, 12%))
  .btn-primary
    button-gradient($btn-type, $blue)
  .btn-danger
    button-gradient($btn-type, $red)
  .btn-info
    button-gradient($btn-type, $yellow)
  .btn-success
    button-gradient($btn-type, $green)
  // Link buttons
  // --------------------------------------------------
  // Make a button look and behave like a link
  .btn-link,
    background-color: transparent
    background-image: none
  .btn-link
    border-color: transparent
    cursor: pointer
    color: $white
  .btn-link:hover,
    color: $link-color-hover
    text-decoration: underline
    background-color: transparent
  .btn-link[disabled]:hover,
    color: $gray-dark
    text-decoration: none
