//
// Lists Utility Classes
// --------------------------------------------------

if $use-lists == true
  .list-inline
    horizontal-list()
  // Horizontal layout (like forms)
  .dl-horizontal
    clearfix()
    // Ensure dl clears floats if empty dd elements present
    dt
      float: left
      width: ($horizontal-component-offset - 20)
      clear: left
      text-align: right
      text-overflow()
    dd
      margin-left: $horizontal-component-offset
