// CONTENTS
// ----------------------------------------------------------------------------
//
// CONTENTS...............................You’re reading it!
// WARNING................................Importante Note for Developers
// IMPORTS................................Begin importing the sections below
//
//
// GETTING STARTED
// -------------------
// NIB.................................... Require NIB Library
//
// CORE
// -------------------
// CONFIG................................. App Configuration
// MIXINS................................. Sass Mixins
// FUNCTIONS.............................. Sass Functions
// GRID................................... Grid System Constructor
// PRINT.................................. Media Query for Print
//
// GENERAL
// -------------------
// RESET.................................. CSS Normalize
// BASE................................... Scaffolding
// TABLE.................................. Basic Table Style
// FORM................................... Basic Form Style
//
// APP
// -------------------
// LAYOUT................................. Your Application Style goes here
// RESPONSIVE............................. Your Application Responsive rules goes here
// LEGACY................................. Your Legacy (old browser support) goes here
//
// HELPERS
// -------------------
// GRID................................... Modular grid system
// GLOBALS................................ Globals Classes for Behaviors
// TYPES.................................. Helper Classes for Types
// LINKS.................................. Helper Classes for Links
// LISTS.................................. Helper Classes for Lists
// IMAGES................................. Helper Classes for Images
// TABLES................................. Helper Classes for Tables
// FORMS.................................. Helper Classes for Forms
// INPUTS................................. Helper Classes for Inputs
// BUTTONS................................ Helper Classes for Buttons
// RESPONSIVE............................. Helper Classes for responsive visibility rules
// ICONS.................................. Your font icons customization goes here
// SPRITE................................. Generator for Sprite images with Compass helper
// ANIMATION.............................. Your CSS animations goes here
//
// ----------------------------------------------------------------------------



//
// IMPORTS
// ---------------------------

// GETTING STARTED
@import 'compass'

// CORE
@import 'core/config'
@import 'core/mixins'
@import 'core/functions'
@import 'core/grid'
@import 'core/print'

// GENERAL
@import 'general/reset'
@import 'general/base'
@import 'general/tables'
@import 'general/forms'

// APP
@import 'app/layout'
@import 'app/responsive'
@import 'app/legacy'

// HELPERS
@import 'helpers/grid'
@import 'helpers/browser'
@import 'helpers/responsive'
@import 'helpers/icons'
@import 'helpers/sprites'
@import 'helpers/animation'

// MODULES
// your ui-component goes here
