// Color
color-text       = #888888
color-link       = #0064cd
color-negative   = #ffffff
color-title      = #555555

// Tipography
font-custom      = "Lato", sans-serif
font-default     = "Helvetica Neue", Helvetica, Arial, sans-serif
font-mono        = Monaco, Menlo, Consolas, Courier New, monospace
font-alt         = Georgia, "Times New Roman", Times, serif
base-line-height = 2.1em
base-font-size   = 1.5em
