<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/main.css">
        <script src="/js/vendor/modernizr-2.6.2.min.js"></script>

        <style>
	        *{
	        	box-sizing:border-box;
	        }

            /* Remove this style block */
            html, body{
                background-color:#f7f7f7;
            }
            h1{
                margin:0;
                padding:0;
                font-size:22px;
                color:#333;
            }
            p{
                color:#666;
            }
            section{
                width:500px;
                margin:100px auto 0 auto;
                background-color:#fff;
                padding:20px;
                -moz-box-shadow: 0 0 8px rgba(0,0,0,.16); 
                -webkit-box-shadow: 0 0 8px rgba(0,0,0,.16);
                box-shadow: 0 0 8px rgba(0,0,0,.16);
            }
            label{
            	display:block;
            	margin-top:10px;
            }
            input[type="text"] {
            	width:100%;
            }
            input[type="submit"] {
            	padding:10px;
            	margin-top:20px;
            }      
            input[type="text"]{
            	border:1px solid #d7d7d7;
            	padding:10px;
            }

            p.error{
            	color:#fff;
            	background-color:red;
            	padding:10px;
            	margin:0;
            }
        </style>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <section>
            <h1>You are logged in!</h1>

            <p>Your registered email address is: <%= @user.email %></p>

            <p>
            	<a href="/auth/logout" title="Logout">Log out</a>
            </p>
        </section>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="/js/plugins.js"></script>
        <script src="/js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
