transition()
    transition: all .2s linear

unstyled()
    list-style-image: none;
    list-style-type: none;
    margin: 0
    padding: 0

btn(background, radius, padding-h, padding-v)
    background: background
    color: color-link
    padding: padding-h padding-v

    -webkit-border-radius: radius
       -moz-border-radius: radius
        -ms-border-radius: radius
         -o-border-radius: radius
            border-radius: radius
