////////////////////////////////////////////////////////////////////
//
// INITIAL CONFIGURATION
//
////////////////////////////////////////////////////////////////////

// 1 - Pick a reset or normalization - Accepted values: "meyer", "normalize" (default) or "custom"
$use-reset: "normalize";

// 2 - Would you like to use grid system classes (unsemantic way)?
$use-grid-classes: true;

// 3 - Pick a type of grid - Accepted values: "fluid", "static"
$use-grid-type: "fluid";
$total-width: 100%; // For a static grid system, just set a fixed value for the container (e.g: 960px).

// 4 - Responsiveness?
$use-responsive: true;

// 5 - Would you like to use border-box? - It's highly recommended to use it!
$use-border-box: true;

// 6 - Would you like to use experimental and legacy(old browser) support?
$legacy-support: true;
$experimental-support: true;

// 7 - Choose a type of button - Accepted values: "flat", "simple", "shiny" "glass", "matte"
$btn-type: "flat";


////////////////////////////////////////////////////////////////////
//
// GRID SYSTEM CONFIGURATION
//
////////////////////////////////////////////////////////////////////

// Set the number of columns, column and gutter widths
$column-width: 60px;
$gutter-width: 20px;
$columns:      12;

// Use max-width for your container (only for fluid grid system)
$use-max-width: false;
$max-width:     960px; // Set your max-width value

// Use padding-left and padding-right on your container
$use-container-gutter: false;
$container-gutter:     20px; // Set a custom value for the padding

// Enable sub-pixel fix for IE6 & 7.
// Set $legacy-support to TRUE on _defaults.scss
// See http://tylertate.com/blog/2012/01/05/subpixel-rounding.html
$min-width:  999999;
$correction: 0.5 / $min-width * 100;

// Use the offset options in your grid - push, pull, squish and centered
$use-grid-offset: true;

// Set your helper classes
$class-container:   "container";
$class-row:         "row";
$class-column:      "span";
$class-push:        "push";
$class-pull:        "pull";
$class-squish:      "squish";

// Set your breakpoints
$tvscreen: 1441px;
$desktop:  979px;
$tablet:   768px;
$mobile:   767px;


////////////////////////////////////////////////////////////////////
//
// OBJECTS - Which objects would you like to use?
//
////////////////////////////////////////////////////////////////////

// General
$use-global:            true    !default; // Global - It's highly recommended to use it!
$use-animations:        true    !default; // Animations on links
$use-types:             true    !default; // Types and Headings
$use-links:             true    !default; // Links
$use-lists:             true    !default; // Lists
$use-tables:            true    !default; // Tables
$use-images:            true    !default; // Images
$use-forms:             true    !default; // Forms and inputs

// Components
$use-alerts:            true    !default; // Alerts
$use-accordion:         true    !default; // Accordion
$use-breadcrumb:        true    !default; // Breadcrumbs
$use-buttons:           true    !default; // Buttons
$use-dropdowns:         true    !default; // Dropdowns
$use-hero-unit:         true    !default; // Hero Unit
$use-icons:             true    !default; // Font Awesome icons
$use-labels-badges:     true    !default; // Labels and Badges
$use-media:             true    !default; // Media Objects
$use-modal:             true    !default; // Modal
$use-navigation:        true    !default; // Navigation
$use-pager:             true    !default; // Pager
$use-pagination:        true    !default; // Pagination
$use-popover:           true    !default; // Popover
$use-progress-bar:      true    !default; // Progress Bar
$use-tabs:              true    !default; // Tabs
$use-thumbnails:        true    !default; // Thumbnails
$use-tooltips:          true    !default; // Tooltips
$use-wells:             true    !default; // Wells


////////////////////////////////////////////////////////////////////
//
// EXTENDED FEATURES
//
////////////////////////////////////////////////////////////////////

// Sprites
// ----------------------------------------------------------------
// More about Compass Sprite Generator at:
// http://compass-style.org/help/tutorials/spriting/
// http://compass-style.org/reference/compass/helpers/sprites/
// ----------------------------------------------------------------

$sprites-layout: horizontal; // Accepted values: "horizontal", "vertical", "diagonal", "smart"
$sprites-default-size: 48px; // Set your value
$sprites-image-default-width: $sprites-default-size;
$sprites-image-default-height: $sprites-default-size;
$sprites-dimensions: true;
$disable-magic-sprite-selectors: false;


// Font Icons
// --------------------------------

// Would you like to use Font Icons?
$use-icons: true !default;

// Base
$font-path: "../fonts";
$font-name: unquote("insa");    // Change font name to yours
$icon-type: "custom";           // Pick a type of icon - Accepted values: "custom" and "fontawesome"
$icons-sizes: false;            // Would you like to use icon sizes?
$icons-states: false;           // Would you like to use alternative states?
$icons-components: true;        // Would you like to use icon on components (navbar, tabs, pills, etc)?
$icons-animation: false;        // Would you like to use icon animation and rotate?

// Colors
$icon-border: #e3e3e3;
$icon-muted: #e3e3e3;
$icon-light: #eeeeee;
$icon-dark: #333333;
