head

    title #{title}

    //- Behavioral Meta Data
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    //- SEO Meta Data
    meta(name='author', content='#{author}')
    meta(name='description', content='#{description}')
    meta(name='keywords', content='#{keywords}')

    //- Humans
    link(rel='author', href='humans.txt')

    //- Styles
    link(rel='stylesheet', href='assets/styles/style.css')

    //- Fonts
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,500,700')
