////////////////////////////////////////////////////////////////////
//
// CORE SETTINGS
//
////////////////////////////////////////////////////////////////////



// IMPORTANT MESSAGE
// -----------------------------------------------------------------
// Feel free to edit but DO NOT REMOVE ANY VARIABLES HERE!
// If you find you need to do so it is a failing of the
// framework so please tweet at @vitorbritto.
// -----------------------------------------------------------------



// Colors
// -------------------------

// Grays
$black = black
$gray = #555555
$white = white
$gray-dark = #333333
$gray-light = #bbbbbb
$gray-darker = #222222
$gray-lighter = #f8fafc

// Common Colors
$main-darker = #1d3348
$main-dark = #5189c5
$main = #b1c2e5
$main-light = #b0b8bf
$main-lighter = #e4e8eb

// Message Colors
$color-info = #0064cd
$color-success = #3ca838
$color-error = #e72727
$color-warning = #ffcc00
$color-highlight = #834186
$color-inverse = #222222

// Base Colors
$background-color = $white
$title-color = $gray-darker
$text-color = $gray
$link-color = $main-darker
$link-color-hover = lighten($link-color, 30%)
$link-color-focus = lighten($link-color, 30%)
$link-color-active = lighten($link-color, 30%)
$link-color-visited = $link-color


// Typography
// -------------------------

$sans-font-family = "Helvetica Neue", Helvetica, Arial, sans-serif
$serif-font-family = Georgia, "Times New Roman", Times, serif
$mono-font-family = Monaco, Menlo, Consolas, "Courier New", monospace

// Uncomment to set a custom font-family
$custom-font-family = "Lato", sans-serif
$alt-font-family = $serif-font-family

$base-font-family = $custom-font-family
$base-font-size = 15px
$base-line-height = 21px
$base-font-weight = 300

$headings-font-family = inherit
$headings-color = $main-darker


// Component sizing
// -------------------------

$font-size-large = $base-font-size * 1.25
$font-size-small = $base-font-size * 0.85
$font-size-mini = $base-font-size * 0.75

$padding-large = 11px 19px
$padding-small = 2px 10px
$padding-mini = 0px 6px

$base-border-radius = 5px
$border-radius-large = 8px
$border-radius-small = 3px


// Tables
// -------------------------

$table-background = transparent
$table-background-accent = #f9f9f9
$table-background-hover = whitesmoke
$table-border = #dddddd


// Forms
// -------------------------

$input-height = $base-line-height + 10px
$input-background = $white
$input-border = $gray-light
$input-border-hover = darken($main-light, 10%)
$input-border-radius = $base-border-radius
$input-disabled-background = $gray-lighter
$form-actions-background = whitesmoke
$placeholder-text = $gray-light


// Buttons
// -------------------------



// Misc
// -------------------------

$hr-border = $gray-lighter
$horizontal-component-offset = 180px
