<!DOCTYPE html>
<html class="no-js" lang="{{ App.lang }}">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex,nofollow">

    <title>{{ App.title }}{% if pageName|length > 0 %} - {{ pageName }}{% endif %}</title>

    <meta name="description" content="{{ App.description }}">
    <meta name="keywords" content="{{ App.keywords }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="{{ App.verification }}" />
    <link type="text/plain" rel="author" href="humans.txt" />

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/public/assets/images/apple-144.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/public/assets/images/apple-114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/public/assets/images/apple-72.png">
    <link rel="apple-touch-icon-precomposed" href="/public/assets/images/apple-57.png">
    <link rel="shortcut icon" href="/public/assets/images/favicon.png">

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/assets/styles/style.min.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script type="text/javascript">
        window.location.href = "http://www.domain.com.br/ie/";
    </script>
    <![endif]-->

</head>
<body>

    <heder class="header">
        <div class="container-fluid">
            <a href="#" class="logo">App Name</a>
            {% include 'elements/navbar.html' %}
        </div>
    </heder>
