
// General
*
  box-sizing: border-box

body
  font-size: 62.5%
  font-family: font-default
  height: 100%
  background: #eee

// Text
h1, h2, h3, h4, h5, h6
  font-family: font-title
  line-height: base-line-height
  font-weight: normal

h1
  font-size: 5em
  color: color-primary
  margin: 0
  &.negative
    color: white

p
  font-family: font-default
  font-size: 1.8em
  line-height: base-line-height
  &.negative
    color: white

.heading
  margin: auto