// Color
color-primary          = #417686
color-secondary        = #dec699
color-meta             = #e5a866
color-font             = #555
color-border           = #ddd
color-link             = #000

// Button
btn-size-shadow  = 3
btn-bg-success   = #2ecc71
btn-bg-info      = #3498db

// Folders
folder-img  = '../img/'

// Generate fonts
webfont('Open Sans', 'OpenSans-Regular-webfont', false)

// Font
font-title       = 'Gotham400', Arial, helvetica, sans-serif
font-default     = 'Open Sans', Arial, helvetica, sans-serif
font-mono        = Monaco, Menlo, Consolas, Courier New, monospace

// Text
base-line-height = 1.6em

// Structure
container-base        = 1040px