<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex,nofollow">

    <title></title>

    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /><![endif]-->

    <meta name="description" content="{{ App.description }}">
    <meta name="keywords" content="{{ App.keywords }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="{{ App.verification }}" />
    <link type="text/plain" rel="author" href="humans.txt" />

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="../../public/styles/normalize.css">
    <link rel="stylesheet" href="../../public/styles/main.css">
    <script src="../../public/scripts/vendor/modernizr-2.6.2.min.js"></script>

    <!--[if lt IE 9]>
    <script type="text/javascript">
        window.location.href = "http://www.domain.com.br/ie/";
    </script>
    <![endif]-->

</head>
<body>

    <!-- Add your site or application content here -->
    <section>
        <h1>You are awesome! The real work starts now....</h1>
        <p>
            Follow us over at Twitter (<a href="http://twitter.com/wixelhq">@wixelhq</a>) as we post updates to Frank-Sinatra and other cool open source projects.
        </p>
        <p>
            In the meantime, we've create a *really simple* boilerplate user signup &amp; login demo. There's no validation, so please don't use this in production (it's just to show you how the models, views, controllers &amp; helpers fit in together)
        </p>
        <ul>
            <li><a href="/auth/signup" title="Create an account">Create an account</a></li>
            <li><a href="/auth/login" title="Log in to your account">Log in to your account</a></li>
        </ul>
    </section>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
    <script src="../../public/scripts/plugins.js"></script>
    <script src="../../public/scripts/main.js"></script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-XXXXXXXX-X', 'auto');
      ga('send', 'pageview');
    </script>
</body>
</html>
