//
// Grids
// --------------------------------------------------

if $use-grid-classes

    // Base
    // -------------------------------

    .{$class-container}
        container

    .{$class-row}
        row

    for i in (1..$columns)
        .{$class-column}{i}
            column(i)

    // Grid Positioning
    // -------------------------------

    // Last Column
    .first,
    .alpha
        alpha

    // Last Column
    .last,
    .omega
        omega


    if $use-grid-offset

        // Add Columns of empty space as margin before an element.
        for i in (1..$columns)
            .{$class-push}{i}
                push(i)

        // Add Columns of empty space as margin after an element.
        for i in (1..$columns)
            .{$class-pull}{i}
                pull(i)

        // Add Columns of empty space as margin after and before an element.
        for i in (1..$columns)
            .{$class-squish}{i}
                squish(i)

        .centered
            float: none
            display: block
            margin: 0px auto
