//
// Responsive Utility Classes
// --------------------------------------------------

if $use-responsive

    // IE10 Metro responsive
    // Required for Windows 8 Metro split-screen snapping with IE10
    // Source: http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/
    @-ms-viewport
        width: device-width


    .visible-phone
        display: none !important
    .visible-tablet
        display: none !important

    .hidden-phone

    .hidden-tablet

    .hidden-desktop
        display: none !important
    .visible-desktop
        display: inherit !important

    .visible-print
        display: none !important
    .hidden-print


    @media print
        .visible-print
            display: inherit !important
        .hidden-print
            display: none !important


